body{ 
    margin: 0;
    padding: 0;
    background-color: hsl(217, 54%, 11%);
    font-family: "Outfit", sans-serif;
    
}
.container{ 
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: hsl(216, 50%, 16%);
    position: absolute;
    border-radius: 10px;

    width: 310px;
    padding: 20px;
}
 img{ 
    width: 310px;
    height: 290px;
    border-radius: 10px;
    
}
.first-image{ 
    z-index: 1;
}
.second-image{ 
    z-index: 0;
    height: 45px;
    width: 45px;
    left: 155px;
    top: 50%;
    transform: translate(-50% , -50%);
    position: relative;  
}
.image-class{
    display: grid;
    grid-template-columns: 00px 150px;

}

.first-title{ 
    font-weight: 700;
    color: white;
    margin-top: 15px;
    font-size: 22px;
}
.second-image:active{ 
    z-index: 1;
    
}
.first-image:active{ 
    z-index: 0;
}
.first-title:hover , .second-part:hover , .image-class img:hover{ 
    cursor: pointer;
}
.first-title:active  , .second-part:active { 
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}
.first-texte{
    color:   hsl(216, 24%, 45%);
    font-size: 19px;
    margin-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.statistique{ 
    display: grid;
    grid-template-columns: 200px 1fr;
    border-bottom: 0.5px solid hsl(216, 24%, 45%);
    padding-top: 10px;
    padding-bottom: 10px;
} 
.time{
    margin-left: 10px;
    color:   hsl(216, 24%, 45%);
    display: grid;
    grid-template-columns: 27px 1fr;
}
.price{ 
    color: hsl(178, 100%, 50%);
    display: grid;
    grid-template-columns: 25px 90px;
}
.price img{ 
    height: 25px;
    width:  15px;
    margin-bottom: 10px;
}
.time img{ 
    height: 22px;
    width:  22px;
    margin-bottom: 12px;
}

.auther {
    display: grid;
    grid-template-columns: 40px 1fr;
    padding-top: 13px;
}
.auther img{ 
    height: 35px;
    width:  35px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
}
.information{ 
    display: grid;
    grid-template-columns: 85px 1fr;
    margin-left: 20px;
    margin-top: 10px;
}
.frist-part{ 
     color:  hsl(216, 24%, 45%);
}
.second-part{ 
    color: white;
}